.cc{

    height:auto;
    width: 95%;
    padding: 50px
    ;
}
.cc h1{
    
    text-align: center;
    margin-top: 20%;
    padding: 50px;
}
.ff{
    border-bottom: 2px solid
}
.cc span{

    float: right;
}